@{
    ViewBag.Title = "NotFound";
}
<h1>la informacion que buscaba no pudo ser encontrada</h1>
<h2>detalles</h2>
<li><b>Codigo de error:</b>@ViewBag.Errorcode]</li>
<li><b>Descripcion:</b>@ViewBag.Description</li>
